

/*BG STYLE */
.yellow
{
	background-color: #f7cf48;
}

.green
{
	background-color: #4ab49f;
}

.blue
{
	background-color: #303843;
}

/*FRAME STYLE*/
.blueframe
{
	background-color: #303843;
	width: 300px;
	height: auto;
	border-radius: 10px;
	margin: auto;	
	padding: 20px;
}

.bluelongframe
{
	background-color: #303843;
	border-radius: 10px;
	margin: auto;	
	padding: 20px;
}
.yellowframe
{
	background-color: #f7cf48;
	width: 300px;
	height: auto;
	border-radius: 10px;
	margin: auto;
	padding: 20px;
}

/* TEXT STYLE */ 
.whitetext
{
	color: white;
}

.bluetext
{
	color: #303843;
}

.centertext
{
	text-align: center;
}

/* IMAGES STYLE */
.logo
{
	padding: 0;
	width: 120px;
	height: auto;
}



.icons1
{	
	padding-top: 20px;
	width: 120px;
	height: auto;
}

.icons2
{	
	padding-top: 20px;
	height: 400px;
	width: auto;
}

#LogoRt
{
	height: 100px;
	width: auto;
	margin: auto;
}

.icons4
{
	margin: auto;
	width: 150px;
	height: auto;
	
}

/*SPACING STYLES */
.spacing
{
	margin-top: 40px;
	margin-bottom: 40px;
}

.no-margin
{
	margin: 0px;
}

.no-padding
{
	padding: 0px;
}

/* HEADER STYLE */

.jumbotron
{
	background-image: url("../img/header.jpg");
	height: 750px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* FOOTER STYLE */
.site-footer
{
	background-color: #303843;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
}

.bottom-footer
{
	border-top: 1px solid #b2b2b2;
	margin-top:10px;
	padding-top: 10px;
	color: #b2b2b2;
}

.footer-nav
{
	text-align: right;
	list-style: none;
}

.footer-nav li
{
	display: inline;
}

.footer-nav li:not(:first-child):before
{
	content: '|';
	padding: 0px 10px;
}

.footer-nav a
{
	color: #b2b2b2;
}

.footer-nav a:hover
{
	color: white;
}
