.yellow
{
	background-color: #f7cf48;
}

.green
{
	background-color: #4ab49f;
}

.logo
{
	padding: 0;
	width: 120px;
	height: auto;
}


.icons1
{	
	padding-top: 20px;
	width: 120px;
	height: auto;
}

.centertext
{
	text-align: center;
}

.no-margin
{
	margin: 0px;
}

.no-padding
{
	padding: 0px;
}